.App {
  overflow-x: hidden;
}
.navbar {
  border-bottom: 1px solid rgb(57, 102, 105,0.8);
  box-shadow: 1px 3px #ebebeb;
  
}
.App-header {
  /* background-color: #282c34; */
  /* background-color: rgb(206, 220, 250); */
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  /* color: rgb(248, 194, 194); */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wallet-banner{
  border: 0.5px solid;
  border-radius:10px;
  background-color:#396669;
  color:white;
  padding:5px
}